<a href="https://colab.research.google.com/github/Prathibha-bm/take_it_smart/blob/main/class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Prathibha")

Prathibha

In [ ]:
fname=("Pathibha")
lname=("B M")
print(fname + lname)

PathibhaB M

In [ ]:
num_1=56
num_2=78
print(num_1+num_2)
print(num_1-num_2)
print(num_1*num_2)
print(num_1/num_2)
print(num_1//num_2)
print(num_1 % num_2)

134
-22
4368
0.717948717948718
0
56

In [ ]:
num_1=int(input("enter num 1"))
num_2=int(input("enter num 2"))
print(num_1+num_2)
print(num_1-num_2)
print(num_1*num_2)
print(num_1/num_2)
print(num_1//num_2)
print(num_1 % num_2)

enter num 156
enter num 278
134
-22
4368
0.717948717948718
0
56

In [ ]:
num_1=float(input("enter num 1"))
num_2=float(input("enter num 2"))
print(num_1+num_2)
print(num_1-num_2)
print(num_1*num_2)
print(num_1/num_2)
print(num_1//num_2)
print(num_1 % num_2)

enter num 156
enter num 278
134.0
-22.0
4368.0
0.717948717948718
0.0
56.0

In [ ]:
a=6-2j
b=8-2j
print(a+b)

(14-4j)

In [ ]:
a=8
b=-9
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

In [ ]:
a=34
b=45
if a>b:
  print("a is greater")
else:
    print("b is greater")

b is greater

In [ ]:
a=34
b=45
c=89
if a>b:
  if a>c:
   print("a is greater")
  else:
    print("c is greater")

else:
  if b>c:
    print("b is greater")
  else:
    print("c is greater")

c is greater

In [ ]:
num=23
if num/2==2:
  print("num is even")
  else:
    print("num is odd")

num is odd

In [ ]:
a=-7
if a>0:
  print("num is positive")
elif a<0:
  print("num is negative")
else:
    print("num is zero")

num is negative

HOME WORK

In [ ]:
# 1.Find whether a number is prime or not
num = int(input("Enter a number: "))
if num <=1:
  print(" not a prime number")
else:
  for i in range(2,num):
    if num%i==0:
      print("not a prime number")
      break
  else:
    print("prime number")

Enter a number: 2
prime number

In [ ]:
# 2.Find whether the number is palindrome
num = int(input("Enter a number: "))
temp = num
rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10
if temp == rev:
    print("Palindrome number")
else:
    print("Not a palindrome number")

Enter a number: 435
Not a palindrome number

In [ ]:
#Write a python program to check leap year
year = int(input("Enter a year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2026
Not a leap year