<a href="https://colab.research.google.com/github/Prathibha-bm/take_it_smart/blob/main/class8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary-A Python dictionary is a data structure that stores data in key-value pairs, where each key is unique

In [ ]:
person={
    'name':'Prathibha ',
    'age' :20,
    'grade':'A'
}
for i in range(5):
  print(person)

{'name': 'Prathibha ', 'age': 20, 'grade': 'A'}
{'name': 'Prathibha ', 'age': 20, 'grade': 'A'}
{'name': 'Prathibha ', 'age': 20, 'grade': 'A'}
{'name': 'Prathibha ', 'age': 20, 'grade': 'A'}
{'name': 'Prathibha ', 'age': 20, 'grade': 'A'}

In [ ]:
students={
    'student1':{
        'name':'john',
        'age':3
    },
    'student2':{
        'name':'johnny',
        'age':30
    }

}
students['student1']['age']=15
print(students)

{'student1': {'name': 'john', 'age': 15}, 'student2': {'name': 'johnny', 'age': 30}}

In [ ]:
student={
    'name':'Prathibha',
    'college':'AIT',
    'USN':'4AI22CD040',
    'semister':7,
    'year':'IV',
    'dob':'xx/xx/xxx'
}
print(student)

print(student['name'])
student['name']='Prathibha'
print(student)
student.pop('college')
print(student)

print(student.keys())
print(student.values())
print(student.items())

for key,values in student.items():
  print(key,':',values)

if 'name' in student:
  print('yes it is present')

{'name': 'Prathibha', 'college': 'AIT', 'USN': '4AI22CD040', 'semister': 7, 'year': 'IV', 'dob': 'xx/xx/xxx'}
Prathibha
{'name': 'Prathibha', 'college': 'AIT', 'USN': '4AI22CD040', 'semister': 7, 'year': 'IV', 'dob': 'xx/xx/xxx'}
{'name': 'Prathibha', 'USN': '4AI22CD040', 'semister': 7, 'year': 'IV', 'dob': 'xx/xx/xxx'}
dict_keys(['name', 'USN', 'semister', 'year', 'dob'])
dict_values(['Prathibha', '4AI22CD040', 7, 'IV', 'xx/xx/xxx'])
dict_items([('name', 'Prathibha'), ('USN', '4AI22CD040'), ('semister', 7), ('year', 'IV'), ('dob', 'xx/xx/xxx')])
name : Prathibha
USN : 4AI22CD040
semister : 7
year : IV
dob : xx/xx/xxx

Create a phone book dictionary ,ask user to  search for a contact if it present then print result

In [ ]:
phone_book ={
    'Prathibha':'9834567833',
    'rahul':'1234567345',
    'aris':'6749367456'
}
name= input("Enter name to search: ").lower()
if name in phone_book:
  print("phone_number:",phone_book[name])
else:
  print("contact no found")
  print(student.get(name,'not found'))

text='apple banan apple'
words=text.split()
count={}
for i in words:
  count[i]=count.get(i,0)+1
print(count)

Enter name to search: rahul
phone_number: 1234567345
{'apple': 2, 'banan': 1}

In [ ]:
student={
    'student1':{
        'name':'john',
        'age':3
        },
    'student2':{
        'name':'johnny',
        'age':90,
        'cars':['lamb','poshe','tesla']

       }
 }

student['student1']['age']=35
print(student)

{'student1': {'name': 'john', 'age': 35}, 'student2': {'name': 'johnny', 'age': 90, 'cars': ['lamb', 'poshe', 'tesla']}}