<a href="https://colab.research.google.com/github/Prathibha-bm/take_it_smart/blob/main/class15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
df=pd.read_csv('/Titanic-Dataset.csv')
df.head()

print(df.info())
print(df.describe())

df.rename(columns={'Sex':'gender'},inplace=True) #inplace true without this it does't make changes
df.columns

#problem 1
x=df.groupby('gender')['Survived'].sum()
print('\n1) People servived :\n',x)

#problem 2
df.groupby('Pclass')['Survived'].mean()
print('\n 2)\n',x)

#problem 3
df.groupby('gender')['Age'].median()
print('\n 3)\n',x)

#problrm 4
df.fillna({'Age':'unknown'},inplace=True)
print('\n 4) \n',df.isnull().sum())

#problrm 5
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)
print('\n 5)\n',df.isnull().sum())

#problrm 6
df.drop(columns=['Cabin'],inplace=True)
print('\n 6) \n',df.isnull().sum(),'\n \n')

df.to_csv('titanic_cleaned.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

1) People servived :
 gender
female    233
male      109
Name: Survived, dtype: int64

 2)
 gender
female    233
male      109
Name: Survived, dtype: int64

 3)
 gender
female    233
male      109
Name: Survived, dtype: int64

 4)
 PassengerId      0
Survived         0
Pclass           0
Name             0
gender           0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

 5)
 PassengerId      0
Survived         0
Pclass           0
Name             0
gender           0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

 6)
 PassengerId    0
Survived       0
Pclass         0
Name           0
gender         0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

/tmp/ipython-input-229923297.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

#Task 3.5

In [56]:
import pandas as pd

column_names = [
    'Name', 'Age', 'Gender', 'Blood Group', 'Medical Condition',
    'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
    'Billing Amount', 'Room Number', 'Admission Type',
    'Discharge Date', 'Medication', 'Test Results'
]

df = pd.read_csv('/healthcare.csv', names=column_names, skiprows=1)#i spacifi the columns b/z befor pandas reds 1st column as the columns
df.head()

print(df.info())
print(df.describe())

df.rename(columns={'Blood Type':'Blood Group'},inplace=True) #inplace true without this it does't make changes
df.columns

#problem 1
x=df.groupby('Gender')['Admission Type'].sum()
print('\n1) People admission:\n',x)


#problem 2
x=df.groupby('Age')['Billing Amount'].mean()
print('\n 2) Amount spent:\n',x)

#problem 3
df.groupby('Age')['Billing Amount'].median()
print('\n 3) Age \n',x)

df.fillna({'Date of Admission':'unknown'},inplace=True)
print('\n 4)Fill of Date of Admission \n',df.isnull().sum())

#poblem 5
df['Date of Admission'].fillna(df['Date of Admission'].mode()[0],inplace=True)
print('\n 5)\n',df.isnull().sum())

df['Age'].fillna(df['Age'].mode()[0],inplace=True)
print('\n 5i\n',df.isnull().sum())

#problrm 6
df.drop(columns=['Insurance Provider'],inplace=True)
print('\n 6) Droping of Insurence Provider \n',df.isnull().sum(),'\n \n')


df.to_csv('healthcare_cleaned.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27793 entries, 0 to 27792
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                27793 non-null  object
 1   Age                 27793 non-null  int64
 2   Gender              27793 non-null  object
 3   Blood Group         27793 non-null  object
 4   Medical Condition   27793 non-null  object
 5   Date of Admission   27793 non-null  object
 6   Doctor              27793 non-null  object
 7   Hospital            27793 non-null  object
 8   Insurance Provider  27793 non-null  object
 9   Billing Amount      27793 non-null  float64
 10  Room Number         27793 non-null  int64
 11  Admission Type      27793 non-null  object
 12  Discharge Date      27793 non-null  object
 13  Medication          27793 non-null  object
 14  Test Results        27793 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 3.2+ MB
None
                Age  Billing Amount   Room Number
count  27793.000000    27793.000000  27793.000000
mean      51.423524    25467.490246    301.789731
std       19.619652    14229.906571    115.308370
min       13.000000    -2008.492140    101.000000
25%       35.000000    13154.006114    202.000000
50%       52.000000    25435.190600    303.000000
75%       68.000000    37758.599007    402.000000
max       89.000000    52764.276736    500.000000

1) People admission:
 Gender
Female    EmergencyUrgentElectiveElectiveUrgentEmergency...
Male      UrgentEmergencyEmergencyEmergencyElectiveUrgen...
Name: Admission Type, dtype: object

 2) Amount spent:
 Age
13    29017.383294
14    31664.686881
15    30000.734362
16    25865.485815
17    27202.884255
          ...
85    25650.284367
86    27487.952331
87    24680.310046
88    21985.572251
89    18012.058730
Name: Billing Amount, Length: 77, dtype: float64

 3) Age
 Age
13    29017.383294
14    31664.686881
15    30000.734362
16    25865.485815
17    27202.884255
          ...
85    25650.284367
86    27487.952331
87    24680.310046
88    21985.572251
89    18012.058730
Name: Billing Amount, Length: 77, dtype: float64

 4)Fill of Date of Admission
 Name                  0
Age                   0
Gender                0
Blood Group           0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

 5)
 Name                  0
Age                   0
Gender                0
Blood Group           0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

 5i
 Name                  0
Age                   0
Gender                0
Blood Group           0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

 6) Droping of Insurence Provider
 Name                 0
Age                  0
Gender               0
Blood Group          0
Medical Condition    0
Date of Admission    0
Doctor               0
Hospital             0
Billing Amount       0
Room Number          0
Admission Type       0
Discharge Date       0
Medication           0
Test Results         0
dtype: int64

/tmp/ipython-input-788354592.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Date of Admission'].fillna(df['Date of Admission'].mode()[0],inplace=True)
/tmp/ipython-input-788354592.py:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mode()[0],inplace=True)